/* header part  */
*{
  margin: 0;
  padding: 0;

}
.header{
  max-width: 100%;
  height: 850px;
  padding: 0 10%;
  background-color: rgba(229, 84, 115, 0.10);;
}
.containt{
  padding-top: 130px;
  max-width: 600px;
}
.head-text{
  font-size: 70px;
  margin-bottom: 32px;
}
.paragraph{
  font-size: 18px;
  margin-bottom: 32px;
}
.button{
  padding: 20px 43px;
  background-color: orangered;
  color: aliceblue;
  font-size: 18px;
  border: none;
  

}
.header-img{
  position: absolute;
  top: 0;
  right: 12%;
  margin-top: 50px;
}

/* End header part */

.small-contain{
  text-align: center;
  margin-top: 120px;
  margin-bottom: 50px;
}
.contain-text{
  color: #110f0f;
  font-size: 40px;
  font-weight: 800;
  padding: 20px;

}
.paragraph-contain{
  color: gray;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.flower-container{
  display: flex;
  justify-content: center;
  text-align: center;
  
}









