/* header part  */
*{
  margin: 0;
  padding: 0;

}
.header{
  max-width: 100%;
  height: 850px;
  padding: 0 10%;
  background-color: rgba(229, 84, 115, 0.10);;
}
.containt{
  padding-top: 130px;
  max-width: 600px;
}
.head-text{
  font-size: 70px;
  margin-bottom: 32px;
}
.paragraph{
  font-size: 18px;
  margin-bottom: 32px;
}
.button{
  padding: 20px 43px;
  background-color: orangered;
  color: aliceblue;
  font-size: 18px;
  border: none;
  

}
.header-img{
  position: absolute;
  top: 0;
  right: 12%;
  margin-top: 50px;
}

/* End header part */

.small-contain{
  text-align: center;
  margin-top: 120px;
  margin-bottom: 50px;
}
.contain-text{
  color: #110f0f;
  font-size: 40px;
  font-weight: 800;
  padding: 20px;

}
.paragraph-contain{
  color: gray;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.flower-container{
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 50px;
  padding-bottom: 50px;
  
}
.img-section-1{
  border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
width: 310px;
height: 420px;

}
.img-section-2{
  border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
width: 370px;
height: 370px;
margin-top: 50px;

}
.img-section-3{
  border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
width: 314px;
height: 430px;
}
.Flower-3{
  height: 430px;
}
.Flower-1{
  height: 420px;
  
}
.Flower-2{
  padding-left: 15px ;
}
.box-contain{
  max-width: 100%;
  height: 500px;
  padding:10px;
  background-color: rgba(229, 84, 115, 0.10);;
  margin-top: 50px;
  margin-bottom: 80px;
}
.box{
  padding-top: 130px;
  max-width: 600px;
  margin-left: 350px;

}
.box-text{
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
span{
  color: red;
}
.small-text{
  margin-top: 15px;
  padding: 15px;}



.box-peragraph{
  color: rgba(39, 39, 39, 0.60);
 text-align: center;
 font-size: 18px;
 font-weight: 400;
 line-height: 25px;
}
.box-button{
  margin-left: 250px;
  margin-top: 20px; 
  border-radius: 6px;
  font-size: 18px;
  background: orangered;
  padding: 10px;
  color: aliceblue;
  border: none;
}
.box-photo{
  position: absolute;
  top: 1680px;
  right: 20%;
  margin-top: 50px;}











